
<div class="header-top is-hidden-mobile">
	<div class="container">
		<div class="columns is-justify-content-space-between is-align-items-center">
			<div class="column is-9">
				<div class="header-top-info">
					<a href="tel:+23-345-67890"><i class="fa fa-phone mr-2"></i><span>+23-345-67890</span></a>
					<a href="mailto:support@gmail.com"><i class="fa fa-envelope mr-2"></i><span>support@gmail.com</span></a>
					<a href="themefisher.com"><i class="fa fa-globe mr-2"></i>Themefisher.com</a>
					<a href="/Login/Index/">
			<i class="fas fa-lock"></i> Giriş Yap
			 <a href="/RegistirUser/Index/">
						<i class="far fa-user"></i> Kayıt Ol !
		</a>
		</a>
				</div>
			</div>
			<div class="column is-3">
				<div class="header-top-socials has-text-centered has-text-right-tablet">
					<a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook"></i></a>
					<a href="https://twitter.com/themefisher" target="_blank"><i class="ti-twitter"></i></a>
					<a href="https://github.com/themefisher/" target="_blank"><i class="ti-github"></i></a>
				</div>
			</div>
			
		</div>
	</div>
</div>