

	<nav id="navbar" class="navbar main-nav">
		<div class="container">
			<div class="navbar-brand ml-0">
				<a class="navbar-item" href="index.html">
					<!-- <img src="images/logo/logo.png" alt="logo"> -->
					<h2 class="has-text-white" style="font-size:2rem">Enov.</h2>
				</a>
				<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</button>
			</div>

			<div class="navbar-menu mr-0" id="navigation">
				<ul class="navbar-end">
					<li class="navbar-item">
						<a class="navbar-link is-arrowless" href="index.html">Anasayfa</a>
					</li>

					<li class="navbar-item">
					<a class="navbar-link is-arrowless" href="/About/SocialMediaAbout.cshtml">Hakkımızda</a>
					</li>

					<li class="navbar-item">
						<a class="navbar-link is-arrowless" href="project.html">İletişim</a>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link is-arrowless">Blog +</a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="blog-grid.html">Blog Grid</a>
							<a class="navbar-item" href="blog-sidebar.html">Blog with Sidebar</a>
							<a class="navbar-item" href="blog-single.html">Blog Single</a>
						</div>
						
					</li>
				</ul>
			
			</div>
		</div>
	</nav>
