

	<nav id="navbar" class="navbar main-nav">
		<div class="container">
			<div class="navbar-brand ml-0">
				<a class="navbar-item" href="/Writer/Index/">
					<!-- <img src="images/logo/logo.png" alt="logo"> -->
					<h2 class="has-text-white" style="font-size:2rem">Enov.</h2>
				</a>
				<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</button>
			</div>
			  <div class="p-4">
                <partial name="_SelectLanguage" />
            </div>
			<div class="navbar-menu mr-0" id="navigation">
				<ul class="navbar-end">
					<li class="navbar-item">
						<a class="navbar-link is-arrowless" href="/Blog/Index/">Anasayfa</a>
					</li>

					<li class="navbar-item">
					<a class="navbar-link is-arrowless" href="/About/Index">Hakkımızda</a>
					</li>

					<li class="navbar-item">
						<a class="navbar-link is-arrowless" href="/Contact/Index/">İletişim</a>
					</li

					<li class="navbar-item">
						<a class="navbar-link is-arrowless" href="/Blog/Index/">Blog</a>
					</li>

						
					</li>
				</ul>
			
			</div>
		</div>
	</nav>
