
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}

<html lang="en">

<body>

    <!-- navigation -->

    <!-- nav part end -->

    <!-- Section About Start -->
    <section class="section about-2 position-relative">
        <div class="container">
            <div class="columns is-multiline is-justify-content-center">
                <div class="column is-10-widescreen is-11-desktop has-text-centered">
                    <h1>Daha büyük, daha cesur ve daha iyi dijital fikirler yaratıyoruz.</h1>
                    <p class="mb-5 h5 mt-5 has-text-weight-normal">Yönetim Raporlaması Alanında Danışmanlık Hizmetleri Vererek Şirketlerin En Üst Seviyeye Ulaşmalarına Yardımcı Oluyoruz. İş Süreçlerini Optimize Ederek Kolaylaştırıyoruz.</p>
                </div>
            </div>
            <div class="columns is-multiline is-justify-content-center">
                <div class="column is-4-desktop is-6-tablet">
                    <img src="images/about/bg-1.jpg" alt="" class=" rounded">
                    <div class="about-info-item mt-4">
                        <h3 class="mb-3">Misyonumuz</h3>
                        <p>Ülke çapında kişisel blog yazmını arttırmak Ve toplumla heran iletişim halinde olmak en büyük misyonumuz.</p>
                    </div>
                </div>
                <div class="column is-4-desktop is-6-tablet"  data-aos-delay="800">
                    <img src="images/about/about.jpg" alt="" class=" rounded">
                    <div class="about-info-item mt-4">
                        <h3 class="mb-3">Vizyonumuz</h3>
                        <p>Misyonumuz dahilinde kalemi güçlü yazarlar ile çalışmak temel blog yazarlığı eğtımını  topluma kazandırmak.</p>
                    </div>
                </div>
                <div class="column is-4-desktop is-12-tablet"  data-aos-delay="1000">
                    <img src="images/about/home-8.jpg" alt="" class=" rounded">
                    <div class="about-info-item mt-4">
                        <h3 class="mb-3">Yaklaşımımız</h3>
                        <p>Misyonumuz dahilinde kalemi güçlü yazarlar ile çalışmak temel blog yazarlığı eğtımını  topluma kazandırmak.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section Counter Start -->
   
    <!-- section Counter End  -->
    @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")
    <!-- Section Testimonial Start -->
    
    <!-- Section Testimonial End -->

    <!-- footer Start -->



</body>
</html>

