<section class="testimonial section bg-gray bg-4">
    <div class="container">
        <div class="columns is-desktop is-multiline">
            <div class="column is-7-desktop">
                <div class="testimonial-wrap has-text-centered">
                    <div class="testimonial-item is-relative">
                        <i class="ti-quote-left text-color text-lg"></i>
                         <p class="mt-4">Sakarya Üniversitesi Bilgisayar Mühendisliği 3.Sınıf Öğrencileri olan Yusuf Cihan Gedik ve Yusuf Talha Çam Blog Sahibleridir.Yenilikçi bir blog mantığı oluşturmaya çalışmaktadırlar</p>
                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Yusuf Cihan Gedik</h5>
                            <p>Blog Sahibi</p>
                        </div>
                    </div>
                    <div class="testimonial-item is-relative">
                        <i class="ti-quote-left text-color text-lg"></i>
                        <p class="mt-4">Sakarya Üniversitesi Bilgisayar Mühendisliği 3.Sınıf Öğrencileri olan Yusuf Cihan Gedik ve Yusuf Talha Çam Blog Sahibleridir.Yenilikçi bir blog mantığı oluşturmaya çalışmaktadırlar</p>
                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Yusuf Talha Çam</h5>
                            <p>Blog Sahibi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>