<div class="column is-12 mb-5">
	<div class="comment-area p-5">
		<h4 class="mb-4">Yorumlar</h4>
		<div class="media">
			<a href="#"><img src="~/enov-bulma-main/source/images/blog/test1.jpg" alt="..." class="user-img"></a>
			<div class="ml-4">
				<h5 class="mb-0">Philip W</h5>
				<span class="date-comm">Posted October 7, 2018 </span>
				<div class="comment-meta is-pulled-right">
					<a href="#"><i class="icofont-reply mr-2 text-muted"></i><i class="ti-back-right mr-2"></i>Reply</a>
				</div>
				<div class="comment-content mt-3">
					<p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company that provides consultants on an agency basis. </p>
				</div>
				<div class="media mt-5">
					<a href="#"><img src="~/enov-bulma-main/source/images/blog/test2.jpg" alt="..." class="user-img"></a>
					<div class="ml-4">
						<h5 class="mb-0">Philip W</h5>
						<span class="date-comm">Posted October 7, 2018 </span>
						<div class="comment-meta is-pulled-right">
							<a href="#"><i class="icofont-reply mr-2 text-muted"></i><i class="ti-back-right mr-2"></i>Reply</a>
						</div>
						<div class="comment-content mt-3">
							<p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company that provides consultants on an agency basis. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="media mt-4">
			<img src="~/enov-bulma-main/source/images/blog/test1.jpg" alt="..." class="user-img">
			<div class="ml-4">
				<h5 class="mb-0">Philip W</h5>
				<span class="date-comm">Posted October 7, 2018 </span>
				<div class="comment-meta is-pulled-right">
					<a href="#"><i class="icofont-reply mr-2 text-muted"></i><i class="ti-back-right mr-2"></i>Reply</a>
				</div>
				<div class="comment-content mt-3">
					<p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company that provides consultants on an agency basis. </p>
				</div>
			</div>
		</div>
	</div>
</div>