
<div class="column lg-12">
	<div class="comment-form bg-gray p-5 ">
		<h4 class="mb-0">Bir Yorum Yapın </h4>
		<p class="mb-4">Your email address will not be published. </p>
		<form class="comment-form" id="comment-form">
			<div class="mb-4">
				<input class="input" type="text" name="cname" id="name" placeholder="Name:">
			</div>
			<div class="mb-4">
				<input class="input" type="text" name="cmail" id="mail" placeholder="Email:">
			</div>
			<div class="mb-4">
				<textarea class="input" name="comment" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>
			</div>

			<button class="btn btn-main" type="submit">Submit Message</button>
		</form>
	</div>
</div>