
<div class="column lg-12">
	<div class="comment-form bg-gray p-5 ">
		<h4 class="mb-0">Bir Yorum Yapın </h4>
		<p class="mb-4">Your email address will not be published. </p>
		<form action="/Blog/BlogReadAll/" method="post">
			<div class="mb-4">
				<input class="form-control" type="text" name="CommentUserName"  placeholder="Name:">
			</div>
			<div class="mb-4">
				<input class="form-control" type="text" name="CommentTitle"  placeholder="Konu">
			</div>
			
			<div class="mb-4">
				<textarea class="form-control" name="CommentContent"  cols="30" rows="5" placeholder="Yorumunuz.."></textarea>
			</div>

			<button class="btn btn-primary " type="submit">Submit Message</button>
		</form>
	</div>
</div>