<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Yusuf Cihan Gedik</span>
                        <span class="text-muted text-xs block">Bilgisiyar Mühendisi <b class="caret"></b></span>
                    </a>
                  
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            
         
           
            <li>
                <a href="/Admin/CategoryA/Index/"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>

            <li>
                <a href="metrics.html"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Widget/Index"><i class="fa fa-flask"></i> <span class="nav-label">İstatistikler</span></a>
            </li>
            <li>
                <a href="metrics.html"><i class="fa fa-phone"></i> <span class="nav-label">İletişim</span>  </a>
            </li>
            <li>
                <a href="metrics.html"><i class="fa fa-flask"></i> <span class="nav-label">Hakkımızda</span>  </a>
            </li>
           
 
            
        </ul>
    </div>
</nav>