@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
<table>
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Durumu</th>
        <th>Detaylar</th>
        <th>Sil</th>
        
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>@item.CategoryId</td>
    <td>@item.CategoryName</td>
    <td>@item.CategoryStatus</td>

</tr>
            }
</table>

